.container {
    display: flex;
    flex-direction: column;
    height: 12em;
    width: 200px; /* Ensure a fixed width for cards to prevent overflow */
    border-radius: 10px;
    background-color: #f3f4f6;
    border: 1px solid #ccc;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 0; /* Remove any margin that may be causing extra space */
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #2d3748;
    color: white;
    font-size: 18px;
    width: 100%; /* Ensure title section is full width */
}

.title > span {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-right: 10px;
}

.title > p {
    flex: 1;
    font-size: 16px;
    text-align: left;
    margin: 0;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    color: #2d3748;
    width: 100%; /* Ensure the body section is full width */
    height: 100%;
}

.body > p:first-child {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin: 5px 0;
}

.deposit{color:green;}
.withdrawl {color: red;}

.body > p:nth-child(2) {
    font-size: 14px;
    text-align: center;
    margin: 5px 0;
    color: #4a5568;
}

body > p {
    margin: 0;
}
