 display:flex; 
     height: 50vh;
     position: relative;
     left:50px; 
     flex-flow:column wrap;

     width:500px;
     height: 75vh;
    .contents{
        background-color: blue;
        justify-content: space-evenly;
        flex:1
    }
    .card-title{
        background-color: red;
    }    
    .card-body{
        background-color: green;       
    }
}